.login-container {
    max-width: 50%;
    margin: auto auto;
    padding: 30px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    line-height: 140%;
    max-height: fit-content;
    min-height: 600px;
        
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
  }
  
  .form-group {
   
    margin: 50px;
    
  }
  
  /* .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
  } */
  
  @media (max-width: 767.98px) {
    .login-container {
      max-width: 100%;
    }
  }